
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    background: #ebeafa url(images/background.png) no-repeat center top;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 265px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.has-two-col {
    display: flex;
    justify-content: space-between;
}
 .flex {
    display: flex;
 }
ul.list-inline li {
    display: inline;
}

.inline * {
    display: inline;
}

.top-bar {
    height: 48px;
    line-height: 48px;
}

.top-bar>div>a{
    display: flex;
    height: 48px;
    line-height: 48px;
    align-items: center;
}

header .menu {
    font-size: 0;
}
header .menu li a {
    display: inline-block;
    font-size: 20px;
    color: #111111;
    line-height: 48px;
    padding: 0 17px;
}

header .top-bar button, .menu-projects div button{
    font-size: 18px;
    font-weight:bold;
    height: 48px;
    color: #111111;
    padding: 0 42px;
    background: none;
    border-radius: 7px;
    border-color: #c04ae2;
    margin: 0 15px;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
}
header .inline {
    font-size: 0px;
}
header .socials a{
    line-height: 48px;
    margin: 0 15px;
}

/* hero */

header .hero {
    margin-top: 137px;
}


header .hero {
    margin-top: 100px;
}
header .page-title {
    width: 500px;
    display: inline-block;
}
header .page-title p:first-child {
    font-size: 80px;
    line-height: 108px;
    
}
header .page-title p:last-of-type {
    margin-top: 30px;
    font-size: 25px;
    line-height: 42px;
    color: #5e5858;
}
header .hero .img-title {
    display: inline-block;
}
header .hero .img-title img{
    max-width: 600px;
}

header .hero .page-title a, .creative-team .sub-team a{
    display: inline-block;
    font-size: 24px;
    color: white;
    width: 240px;
    height: 70px;
    line-height: 70px;
    background-color: #c04ae2;
    border-radius: 7px;
    padding: 0 60px;
    margin-top: 30px;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
}

/* section Introduction */

#introduction {
    background: #fffefd url(images/backgroundsite2.png) no-repeat center top;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 265px;
}

.build-trust-first div.contain {
    text-align: center;
}

.build-trust-first .contain p:first-child, .testimonial>div>p.title, .title-projects p, .menu-projects div p:nth-child(1), .title-meet-our-team p {
    font-size: 20px;
    line-height: 70px;
    color: #c04ae2;
    text-transform: uppercase;
    font-family: Overpass, sans-serif;
}
.build-trust-first .contain p:last-of-type, .title-meet-our-team h2{
    width: 770px;
    font-size: 60px;
    line-height: 70px;
    margin: 0 auto;
    color: #111111;
    font-weight: 500;
}

.build-trust-first .grid {
    margin-top: 125px;
    justify-content: space-between;
}

.build-trust-first .grid div {
    width: 370px;
    height: 496px;
    border: 6px solid #fcd7df;
    border-radius: 18px;
    text-align: center;
}

.build-trust-first .grid img {
    display: block;
    margin: 90px auto 45px auto;
}

.build-trust-first .grid h1{
    width: 275px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
}

.build-trust-first .grid p {
    width: 276px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 28px;
    color: #5e5858;
}

.creative-team {
    margin-top: 190px;
}

.creative-team .sub-team {
    width: 500px;
    height: 500px;
}

.creative-team .sub-team h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 25px;
}

.creative-team .sub-team p:first-of-type{
    font-size: 24px;
    line-height: 36px;
    color: #5e5858;
    margin-bottom: 25px;
}
.creative-team .sub-team p:last-of-type,  .testimonial p.sub{
    font-size: 20px;
    line-height: 32px;
    color: #5e5858;
    margin-bottom: 27px;
}

.creative-team .sub-team a {
    text-transform: uppercase;
    font-size: 19px;
}
.creative-team .img-team {
    transform: translateX(180px)
}

.what-we-do {
    margin-top: 190px;
}
.title-what-we-do {
    text-align: right;
    width: 750px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 120px;
}

.title-what-we-do p {
    font-size: 24px;
    line-height: 65px;
    color: #c04ae2;
    text-transform: uppercase;
}

.title-what-we-do h2 {
    font-size: 60px;
    line-height: 85px;
    font-weight: 600;
    color: #111111;
}
.menu-what-we-do {
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-what-we-do div {
    width: 370px;
    height: 476px;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1);
}

.menu-what-we-do div:nth-child(2), .menu-what-we-do div:nth-child(5) {
    transform: translateY(88px);
}
.menu-what-we-do div:nth-child(3), .menu-what-we-do div:nth-child(6) {
    transform: translateY(176px);
}

.menu-what-we-do div>img {
    margin-top: 76px;
    margin-bottom: 30px;
}

.menu-what-we-do div h1, .menu-projects div h2{
    font-size: 30px;
    line-height: 42px;
    color: #111111;
    margin-bottom: 20px;
}

.menu-what-we-do div p, .menu-projects div p {
    font-size: 20px;
    line-height: 28px;
    color: #5e5858;
    width: 286px;
    margin: 0 auto;
}

.menu-what-we-do div>a>img {
    margin-top: 50px;
}

/* Projects */

#projects {
    background: #ffffff url(images/backgroundsite3.png) no-repeat center top;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 250px;
}

.title-projects {
    text-align: center;
    margin-bottom: 107px;
}

.title-projects h2{
    font-size: 60px;
    line-height: 70px;
    width: 750px;
    margin: 0 auto;
    font-weight: 600;
}

.menu-projects {
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-projects div * {
    display: inline-block;
}
.menu-projects div p, .menu-projects div h2, .menu-projects div {
    width: 560px;
}

.menu-projects div{
    margin-bottom: 90px;
}

.menu-projects div h2 {
    margin-bottom: 35px;
}

.menu-projects div button {
    margin-top: 45px;
}
#projects>div:last-of-type {
    width: 140px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #c04ae2;

}
#projects div>a {
    text-align: center;
    color: #111111;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    font-family: Overpass, sans-serif;
}
/* meet our team */
#meet-our-team {
    background: #ffffff url(images/backgroundsite4.png) no-repeat center top;
    background-size: cover;
    padding-top: 220px;
    padding-bottom: 150px;
}

.title-meet-our-team {
    text-align: center;
}

.title-meet-our-team h2 {
    margin-bottom: 155px;
}
.sub-meet-team {
    justify-content: space-between;
    margin-bottom: 285px;
}
.sub-meet-team div img {
    margin-bottom: 36px;
}
.sub-meet-team div h3 {
    font-size: 24px;
    line-height: 30px;
    color: #111111;
    margin-bottom: 14px;
}
.sub-meet-team div p {
    font-size: 18px;
    line-height: 24px;
    color: #adb0ba;
}
.sub-meet-team div:nth-child(2), .sub-meet-team div:nth-child(4) {
    transform: translateY(72px);
}

.testimonial {
    justify-content: space-between;
}
.testimonial>div:nth-child(1){
    width: 563px;
    margin: auto 0;
}
.testimonial>div:last-of-type, .testimonial>div:last-of-type img{
    width: 550px;
    height: 690px;
}

.testimonial>div:nth-child(1) {
    position: relative;
}
.testimonial.testimonial>div:nth-child(1)>img {
    position: absolute;
    left: -127px;
}
.testimonial h2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 60px;
}

.testimonial i, .testimonial h3, .testimonial p.sub-author {
    display: inline-block;
}

.testimonial p.sub-author {
    font-size: 13px;
    line-height: 24px;
    color: #adb0ba;
    margin-left: 20px;
}